.edit-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 20px;
}

.users-list-for-edit-page {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 73%;
  border: 1px solid #223157;
  border-radius: 10px;
  padding: 10px;
}

.btn-user-del {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #223157;
  border: 1px solid #223157;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    color 0.3s ease,
    border-radius 0.3s ease;
}

.btn-user-del:hover {
  background-color: #ffffff;
  color: #223157;
}

.btn-user-del:hover svg {
  filter: drop-shadow(2px 2px 4px #ff0000);
}

.btn-user-edit {
  width: 120px;
  height: 35px;
  color: #ffffff;
  background-color: #223157;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.5s ease,
    color 0.3s ease,
    border-radius 0.3s ease;
}

.btn-user-edit:hover {
  color: #223157;
  background-color: #ffffff;
  border: 1px solid #223157;
}

.input-user-edit {
  flex: 1;
  height: 35px;
  border: 1px solid #223157;
  border-radius: 5px;
  padding-left: 10px;
  font-family: Tahoma, sans-serif;
  color: #223157;
  min-width: 173px;
}

.input-cash-edit {
  width: 65px;
  height: 35px;
  border: 1px solid #223157;
  border-radius: 5px;
  text-align: center;
  font-family: Tahoma, sans-serif;
  color: #223157;
}

.input-user-edit:disabled {
  border-color: #a1a1a1;
  color: #a1a1a1;
}

.input-cash-edit:disabled {
  border-color: #a1a1a1;
}

.input-cash-edit-alarm {
  border: 1px solid #ff0000;
}

.btn-up-cash,
.btn-lou-cash {
  width: 35px;
  height: 35px;
  border: 1px solid #223157;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
  color: #ffffff;
  background-color: #223157;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  transition:
    background-color 0.5s ease,
    color 0.3s ease,
    border-radius 0.3s ease;
}

.btn-up-cash:hover,
.btn-lou-cash:hover {
  background-color: #ffffff;
  color: #223157;
}

.user-for-users-list {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.content-for-edit-modal {
  display: flex;
  padding: 5px;
  align-items: center;
  gap: 10px;
  font-family: Tahoma, sans-serif;
  color: #223157;
}
